# Salin file ini menjadi .env.local lalu isi nilainya dari Firebase Console.
# JANGAN pernah push file .env.local ke GitHub.

NEXT_PUBLIC_FB_API_KEY=
NEXT_PUBLIC_FB_AUTH_DOMAIN=
NEXT_PUBLIC_FB_PROJECT_ID=
NEXT_PUBLIC_FB_STORAGE_BUCKET=
NEXT_PUBLIC_FB_SENDER_ID=
NEXT_PUBLIC_FB_APP_ID=

# Email super admin (harus sama dengan yang ada di firestore.rules)
NEXT_PUBLIC_SUPER_ADMIN_EMAIL=syam.rakhmany@gmail.com

# Cloudinary (penyimpanan foto)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
